*{box-sizing: border-box;}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
    background-image: url('../img/pokemonmewtwo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
ul {
    text-align: center;
    position: absolute;
    width: 95%;
    margin: 10px auto 0;
    padding: 10px;
    box-sizing: border-box;
}
li {
    display: flex;
    align-items: center;
    justify-content: center;    
}
.pokemon-img-block {
    display: flex;
    justify-content: center;
}
.pokemon-height {
    display: flex;    
    justify-content: center;
}
.pokemon-types {
    display: flex;
    justify-content: center;
}
#pokemon-button {
    border: none; 
    background: rgba(0,0,0,0.5);
    height: 40px;
    width: 40%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 2px;
    margin-top: 2px;
    color: white;
}
#pokemon-button:hover {
    opacity: 0.6;
}
.pokemon-list{
    margin-top: 4%;
}
@media (max-width: 1400px) {
    .pokemon-list {
        margin-top: 6%;
    }
    #pokemon-button {
        width: 60%;
    }

}
@media (max-width: 960px) {
    .pokemon-list {
        margin-top: 8%;
    }
}
@media (max-width: 800px) {
    #pokemon-button {
        width: 80%;
    }
}


@media (max-width: 750px) {
    .pokemon-list {
        margin-top: 10%;
    }
}

@media (max-width: 580px) {
    #pokemon-button {
        width: 90%;
    }
    .pokemon-list {
        margin-top: 14%;
    }
}
@media (max-width: 420px) {
    #pokemon-button {
        width: 96%;
    }
    .pokemon-list {
        margin-top: 18%;
    }
}